<ion-content class="ion-no-padding">
  <div class="main">
    <ion-card>
      <ion-card-content>
        <ion-row class="ion-no-margin">
          <ion-col text-left (click)="developerMode()">
            <h1 class="ion-no-margin"><strong>BoardActive</strong> App Login</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-left>
            <ion-input
              clearInput
              type="email"
              placeholder="Email"
              [(ngModel)]="email"
              class="input"
              class="ion-padding-horizontal"
              clear-input="true"
            ></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-left>
            <ion-input
              clearInput
              type="password"
              placeholder="Password"
              [(ngModel)]="password"
              class="input"
              class="ion-padding-horizontal"
              clear-input="true"
            ></ion-input>
          </ion-col>
        </ion-row>
        <ion-row padding-vertical>
          <ion-col>
            <ion-button
              expand="block"
              color="primary"
              (click)="signIn()"
              class="ion-no-margin btn-color"
              ><strong>Login</strong></ion-button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="developer">
          <ion-col>
            <ion-item lines="none">
              <ion-label>Development Mode</ion-label>
              <ion-checkbox slot="start" [(ngModel)]="developer"></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
