
.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  ion-card {
    --background: var(--ion-color-primary-contrast);
  }

  ion-icon {
      width: 25px;
      color: var(--ion-color-medium);
  }