<ion-header>
  <ion-toolbar>
    <h2 class="ion-padding-horizontal ion-padding-top fw700">Custom Attributes</h2>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">

  <div>
    <ion-card>
      <ion-card-content>
        <ion-row>
          <ion-col>
            <ion-button expand="block" color="secondary" (click)="addCustomAttribute()" class="ion-no-margin btn-color">
              <strong>Add Custom Attribute</strong></ion-button>
          </ion-col>
        </ion-row>

        <form [formGroup]="myForm">
          <ion-row *ngFor="let control of myForm.controls | keyvalue">
            <ion-col text-left>
              <ion-label class="pb-2 text-secondary hb-small-caps">{{control.key}}</ion-label>
              <ion-input clearInput type="text" placeholder="{{control.key}}" [formControlName]="control.key"
                class="ion-padding-horizontal input" clear-input="true"></ion-input>
            </ion-col>
          </ion-row>
        </form>

        <ion-row>
          <ion-col>
            <ion-button expand="block" color="primary" (click)="save()" class="ion-no-margin btn-color">
              <strong>Save</strong></ion-button>
          </ion-col>
        </ion-row>

        <ion-row class="pt-2">
          <ion-col>
            <ion-button expand="block" fill="outline" color="medium" (click)="cancel()" class="ion-no-margin btn-color">
              <p class="text-primary bold">
                Cancel
              </p>
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>