@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root[mode="ios"] .montserrat,
:root[mode="md"] .montserrat {
  --ion-font-family: "Montserrat" !important;
  font-family: "Montserrat" !important;
}
 
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: normal;
  src: url("./assets/fonts/Montserrat-Italic.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  src: url("./assets/fonts/Montserrat-MediumItalic.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  src: url("./assets/fonts/Montserrat-BoldItalic.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: url("./assets/fonts/Montserrat-Black.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 900;
  src: url("./assets/fonts/Montserrat-BlackItalic.ttf");
}

  h1 {
    font-size: 2.0em;
    font-weight: bold;
    color: var(--ion-color-primary);
    font-family: "Montserrat" !important;
    font-style: 900;
    padding: .5em;
  }

  h2 {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--ion-color-primary);
    font-family: "Montserrat" !important;
    font-style: 900;
    padding: .1em;
  }

  h3 {
    font-size: .9em;
    font-weight: bold;
    color: var(--ion-color-secondary);
    font-family: "Montserrat" !important;
    font-style: normal;
    padding: .1em;
  }

  h4 {
    font-size: .8em;
    font-weight: bold;
    color: var(--ion-color-secondary);
    font-family: "Montserrat" !important;
    font-style: normal;
    padding: .1em;
  }

  ion-title {
    color: var(--ion-color-primary-contrast);
    font-family: "Montserrat" !important;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  // Helpers //
  .w100 {
    width: 100%;
  }
  
  .bold,
  .fw500 {
      font-weight: 500 !important;
  }
  
  .fw700 {
      font-weight: 700 !important;
  }
  
  .text08 {
    font-size: .8rem;
  }
  
  .text1 {
    font-size: 1rem !important;
  }

  .text12 {
    font-size: 1.2rem;
  }

  .text15 {
    font-size: 1.5rem;
  }
  
  .text20 {
    font-size: 2rem;
  }

  .text25 {
    font-size: 2.5rem;
  }
  
  .text-white {
      color: #fff;
  }
  
  .text-primary {
      color: var(--ion-color-primary);
  }

  .text-secondary {
    color: var(--ion-color-secondary);
}
  
  .text-dark {
    color: var(--ion-color-dark);
  }

  ion-card {
    --background: var(--ion-color-primary-contrast);
    margin: auto;
    position: relative;
    text-align: center;

    ion-card-header {
      text-align: center;
      font-size: 2.0em;
      width: 100%;
      font-weight: normal;
      color: var(--ion-color-primary);
    }
  }

  ion-icon {
    margin: .3em;
    width: 2em;
    height: 2em;
  }

  ion-back-button {
    ion-icon {
      margin: .3em;
      width: 1.5em;
      height: 1.5em;
    }  
  }

  ion-button {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  ion-header {
    --background: linear-gradient(to top right, var(--ion-color-primary) 0%, var(--ion-color-primary-shade) 100%);
    color: var(--ion-color-primary-contrast);
  }

  ion-toolbar{
    --background: linear-gradient(to top right, var(--ion-color-primary) 0%, var(--ion-color-primary-shade) 100%);
    color: var(--ion-color-primary-contrast);
  }

  ion-content {
    height: 100vh;
  }

  ion-label {
    color: var(--ion-color-primary);
    margin: .5em;
  }

  ion-text {
    font-size: 1em;
    font-weight: normal;
    color: var(--ion-color-secondary);
    font-family: "Montserrat" !important;
    font-style: normal;
    text-align: start;
  }

  .input {
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(210, 210, 210);
    border-radius: 9px;
    font-size: 0.9em !important;
  }
  
  @media screen and (min-width: 767px) {
    ion-list {
      width: 600px;
      margin: auto;

      .scroll-content {
        display: table !important;
        width: 100% !important;
        height: 100% !important;
      }
      .scroll {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
      }
   }
  }

  


