<ion-header>
  <ion-toolbar padding-top>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <h2 class="fw700" (click)="developerMode()" no-margin>Message Inbox</h2>
  </ion-toolbar>
  <ion-toolbar *ngIf="development" color="dark">
    <ion-row padding-horizontal>
      <!-- <ion-button size="small" color="tertiary" (click)="putMe()">putMe</ion-button> -->
      <ion-button size="small" color="tertiary" (click)="presentAlertConfirm()">CLR</ion-button>
      <ion-button size="small" color="{{showInbox ? 'success' : 'warning'}}" (click)="viewSwap('inbox')">INBOX
      </ion-button>

      <ion-button size="small" color="{{showLog ? 'success' : 'warning'}}" (click)="viewSwap('log')">LOG</ion-button>

      <!-- <ion-button size="small" color="{{showMap ? 'success' : 'warning'}}" (click)="viewSwap('map')">MAP</ion-button> -->

      <ion-button *ngIf="showLog" size="small" color="{{log_events_run ? 'danger' : 'success'}}" (click)="loggingRun()">
        <ion-icon name="{{log_events_run ? 'pause' : 'play'}}"></ion-icon>
      </ion-button>
      <ion-buttons end>
        <ion-label>debug</ion-label>
        <ion-toggle [(ngModel)]="debug" (ionChange)="onSetConfig('debug')"></ion-toggle>
      </ion-buttons>

      <p *ngIf="showLog" class="activity" text-center>
        <strong>Activity:</strong> {{ motionActivity }}
        <strong>Distance:</strong> {{ odometer }}
      </p>

      <!-- <ion-buttons end>
        <ion-toggle [(ngModel)]="enabled" (ionChange)="onToggleEnabled()" style="display:block;"></ion-toggle>
      </ion-buttons> -->
  
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="main" *ngIf="showInbox">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="messages && messages.length > 2" text-right margin-horizontal margin-vertical>
    <small (click)="presentAlertConfirm()" class="fw700 text-danger">
      Clear inbox
    </small>
  </div>
  <div *ngFor="let item of messages">
    <ion-item (click)="openMessage(item)" no-padding>
      <ion-col class="ion-padding-horizontal ion-padding-vertical">
        <p class="ion-no-padding fw600 text-primary mb-1">{{ item.title }}</p>
        <p class="ion-no-padding text-primary mb-1">{{ item.body }}</p>
        <small class="text-secondary">Received on {{ item.dateCreated | date: "MMMM d" }} at
          {{ item.dateCreated | date: "H:mm:ss" }}</small>
      </ion-col>
    </ion-item>
  </div>
</ion-content>

<ion-content class="main" *ngIf="showLog">
  <div class="logger">
    <div *ngFor="let event of log_events_db">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>
              <p>
                <small class="title"><strong>[event]&nbsp;{{ event.name }}</strong></small>
              </p>
              <p>
                <small class="timestamp">{{ event.timestamp }}</small>
              </p>
              <pre><code>{{ event.content }}</code></pre>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
