/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #1e90ff;
  --ion-color-primary-rgb: 30, 144, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1872CC;
  --ion-color-primary-tint: #4BA5FF;

  /** secondary **/
  --ion-color-secondary: #5352ed;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #40A4DE;
  --ion-color-secondary-tint: #7575F1;

  /** tertiary **/
  --ion-color-tertiary: #5352ED;
  --ion-color-tertiary-rgb: 83, 82, 237;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #3E3EB2;
  --ion-color-tertiary-tint: #7575F1;

  /** success **/
  --ion-color-success: #2ed573;
  --ion-color-success-rgb: 60, 215, 124;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #2DA15D;
  --ion-color-success-tint: #63DF96;

  /** warning **/
  --ion-color-warning: #ffa502;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #E59501;
  --ion-color-warning-tint: #FFB734;

  /** danger **/
  --ion-color-danger: #ff4757;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #CC3844;
  --ion-color-danger-tint: #FF6B77;

  /** dark **/
  --ion-color-dark: #2f3542;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #020202;
  --ion-color-dark-tint: #747d8c;

  /** medium **/
  --ion-color-medium: #ced6e0;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #a4b0be;
  --ion-color-medium-tint: #dfe4ea;

  /** light **/
  --ion-color-light: #f1f2f6;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #dfe4ea;
  --ion-color-light-tint: #f7f8fc;
}
