/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #1e90ff;
  --ion-color-primary-rgb: 30, 144, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1872cc;
  --ion-color-primary-tint: #4ba5ff;

  /** secondary **/
  --ion-color-secondary: #5352ed;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #40a4de;
  --ion-color-secondary-tint: #7575f1;

  /** tertiary **/
  --ion-color-tertiary: #5352ed;
  --ion-color-tertiary-rgb: 83, 82, 237;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #3e3eb2;
  --ion-color-tertiary-tint: #7575f1;

  /** success **/
  --ion-color-success: #2ed573;
  --ion-color-success-rgb: 60, 215, 124;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #2da15d;
  --ion-color-success-tint: #63df96;

  /** warning **/
  --ion-color-warning: #ffa502;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e59501;
  --ion-color-warning-tint: #ffb734;

  /** danger **/
  --ion-color-danger: #ff4757;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cc3844;
  --ion-color-danger-tint: #ff6b77;

  /** dark **/
  --ion-color-dark: #2f3542;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #020202;
  --ion-color-dark-tint: #747d8c;

  /** medium **/
  --ion-color-medium: #ced6e0;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #a4b0be;
  --ion-color-medium-tint: #dfe4ea;

  /** light **/
  --ion-color-light: #f1f2f6;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #dfe4ea;
  --ion-color-light-tint: #f7f8fc;

  /* text colors */
  --ion-text-primary: rgba(0, 0, 0, 0.87);
  --ion-text-secondary: rgba(0, 0, 0, 0.6);
  --ion-text-disabled: rgba(0, 0, 0, 0.38);
  --ion-text-dividers: rgba(0, 0, 0, 0.05);

  --ion-inverse-text-primary: rgba(255, 255, 255, 0.87);
  --ion-inverse-text-secondary: rgba(255, 255, 255, 0.6);
  --ion-inverse-text-disabled: rgba(255, 255, 255, 0.38);
  --ion-inverse-text-dividers: rgba(255, 255, 255, 0.12);
}
