// PROFILE -- Sidemenu Layout 1 styling START
.sidemenu-1 {
    .off-action {
      background: none !important;
      .item-native {
        background: none !important;
        // background: var(--icon-color-light) !important;
      }
    }
  
    .contentBg {
      --background: var(--ion-color-light-tint) !important;
  
      ion-list {
        padding: 0 26px; // idk why, just is do to off-action icon widths
  
        ion-icon {
          color: #999;
  
          &.active {
            color: #3c8af7;
          }
        }
  
        ion-label {
          padding-left: 16px;
          letter-spacing: 2px;
          &.active {
            font-weight: bold;
          }
        }
      }
  
      .driverCard {
        position: relative;
        width: 100%;
        box-shadow: none;
        border-radius: 0;
        // background: linear-gradient(45deg, var(--ion-color-primary) 47%, var(-ion-color-primary-shade));
        // --background: linear-gradient(45deg, var(--ion-color-primary) 47%, var(-ion-color-primary-shade));
  
        background: var(--ion-color-secondary) !important;
        --background: var(--ion-color-secondary) !important;
  
        ion-item {
          background: var(--ion-color-secondary) !important;
          --background: var(--ion-color-secondary) !important;
  
          .driverProfileImage {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: left;
            padding-top: 16px;
  
            ion-avatar {
              width: 56px;
              height: 56px;
              margin-left: -6px; // to account for random spacing left of logo
            }
  
            .userDetails {
              background: #fff;
              border-radius: 90px;
              display: flex;
              padding-left: 6px;
              padding-right: 6px;
              align-items: center;
              height: 1.8em;
              padding-bottom: 0;
              color: #ff4646;
              font-size: 11px;
            }
          }
        }
      }
  
      .cardContent {
        display: flex;
        justify-content: space-around;
        border-radius: 6px;
        padding: 3%;
  
        .driverDetails {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
  
        .driverStatusIcons {
          font-size: 26px;
          color: #f3e046;
        }
  
        .detailText {
          color: white;
          font-size: 10px;
        }
  
        .detailsLabel {
          font-size: 18px;
        }
      }
    }
  }
  