<ion-header>
  <ion-toolbar>
    <h2 class="ion-padding-horizontal ion-padding-top fw700">User Attributes</h2>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <div>
    <ion-card>
      <ion-card-content>
        <ion-row>
          <ion-col text-left>
            <ion-label class="pb-2 text-secondary hb-small-caps">Name</ion-label>
            <ion-input clearInput type="text" placeholder="John Doe" [(ngModel)]="stockAttributes.name" class="ion-padding-horizontal input"
             clear-input="true"></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col text-left>
            <ion-label class="pb-2 text-secondary hb-small-caps">Email</ion-label>
            <ion-input clearInput type="email" placeholder="example@aol.com" [(ngModel)]="stockAttributes.email" class="ion-padding-horizontal input"
              clear-input="true"></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col text-left>
            <ion-label class="pb-2 text-secondary hb-small-caps">Phone Number</ion-label>
            <ion-input clearInput type="tel" placeholder="1-123-456-6789" [(ngModel)]="stockAttributes.phone" class="ion-padding-horizontal input"
             clear-input="true"></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col text-left>
            <ion-label class="pb-2 text-secondary hb-small-caps">Facebook URL</ion-label>
            <ion-input clearInput type="text" placeholder="https://www.facebook.com/" [(ngModel)]="stockAttributes.facebookUrl"
            class="ion-padding-horizontal input" clear-input="true"></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col text-left>
            <ion-label class="pb-2 text-secondary hb-small-caps">LinkedIn URL</ion-label>
            <ion-input clearInput type="text" placeholder="https://www.linkedin.com/" [(ngModel)]="stockAttributes.linkedInUrl"
            class="ion-padding-horizontal input" clear-input="true"></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col text-left>
            <ion-label class="pb-2 text-secondary hb-small-caps">Twitter URL</ion-label>
            <ion-input clearInput type="text" placeholder="https://www.twitter.com/" [(ngModel)]="stockAttributes.twitterUrl"
            class="ion-padding-horizontal input" clear-input="true"></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col text-left>
            <ion-label class="pb-2 text-secondary hb-small-caps">Avatar URL</ion-label>
            <ion-input clearInput type="text" placeholder="https://www.example.com/123" [(ngModel)]="stockAttributes.avatarUrl"
            class="ion-padding-horizontal input" clear-input="true"></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col text-left>
            <ion-item class="ion-no-padding">
              <ion-label position="floating" class="text-secondary hb-small-caps">Birthday</ion-label>
              <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="stockAttributes.dateBorn"></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="pb-4 mb-4">
          <ion-col text-left>
            <ion-item class="ion-no-padding">
              <ion-label class="text-secondary hb-small-caps">Gender</ion-label>
              <ion-select placeholder="Select One" [(ngModel)]="stockAttributes.gender">
                <ion-select-option value="f">Female</ion-select-option>
                <ion-select-option value="m">Male</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button expand="block" color="primary" (click)="save()" class="ion-no-margin btn-color">
              <strong>Save</strong></ion-button>
          </ion-col>
        </ion-row>

        <ion-row class="pt-2">
          <ion-col>
            <ion-button expand="block" fill="outline" color="medium" (click)="cancel()" class="ion-no-margin btn-color">
              <p class="text-primary bold">
                Cancel
              </p>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>