<ion-header>
  <ion-toolbar padding-top>
    <ion-buttons slot="start" no-margin>
      <ion-button
        button-right
        size="small"
        color="light"
        (click)="close()"
        no-padding
        class="message-details-close"
      >
        <ion-icon name="close" class="icon-sm icon-mono" no-margin></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <h2 class="fw700" (click)="developerMode()" no-margin>
      Message
    </h2> -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container *ngIf="isRendering" padding-horizontal padding-vertical>
    Loading...
  </ng-container>
  <ng-container *ngIf="!isRendering">
    <div class="mb-4">
      <!-- <img class="promotion-hero-img" [src]="sanitizer.bypassSecurityTrustResourceUrl(message.imageUrl)"/> -->
      <img class="promotion-hero-img" [src]="message.imageUrl" />
    </div>
    <!-- TODO this actions bar.. right now styles are hardcoded -->
    <div padding-horizontal>
      <div class="mb-1">
        <p class="text-primary fw600" no-margin>{{ message.title }}</p>
      </div>
      <div class="mb-1">
        <p class="text-primary text08" no-margin>{{ message.body }}</p>
      </div>
      <div class="mb-4">
        <p class="text-secondary text08" *ngIf="messageData.title" no-margin>
          {{ messageData.title }}
        </p>
      </div>
    </div>

    <div padding-horizontal class="mb-4" *ngIf="messageData[0]">
      <div class="mb-1">
        <p class="hb-small-caps text-secondary" no-margin>Dates</p>
      </div>
      <p
        class="text08 text-secondary"
        *ngIf="messageData.promoDateStarts"
        no-margin
      >
        Starts on
        <span class="bold">{{ messageData.promoDateStarts | date }}</span>
      </p>
      <p
        class="text08 text-secondary"
        *ngIf="messageData.promoDateEnds"
        no-margin
      >
        Ends on <span class="bold">{{ messageData.promoDateEnds | date }}</span>
      </p>
    </div>
    <div padding-horizontal class="mb-2" *ngIf="messageData[0]"> 
      <div class="mb-1">
        <p class="hb-small-caps text-secondary" no-margin>Contact</p>
      </div>

      <a
        href="tel:{{ messageData.phoneNumber }}"
        target="_blank"
        *ngIf="messageData.phoneNumber"
      >
        <ion-icon name="call" no-margin class="icon-mono icon-sm"></ion-icon>
      </a>
      <a href="mailto:{{ messageData.email }}" *ngIf="messageData.email">
        <ion-icon name="mail" no-margin class="icon-mono icon-sm"></ion-icon>
      </a>
      <a
        href="http://maps.google.com/?q={{ messageData.storeAddress }}"
        *ngIf="messageData.storeAddress"
      >
        <ion-icon
          name="navigate"
          no-margin
          class="icon-mono icon-sm"
        ></ion-icon>
      </a>
      <a
        href="{{ messageData.urlLandingPage }}"
        *ngIf="messageData.urlLandingPage"
      >
        <ion-icon name="globe" no-margin class="icon-mono icon-sm"></ion-icon>
      </a>
    </div>

    <div padding-horizontal class="mb-4" *ngIf="messageData[0]">
      <div class="mb-1">
        <p class="hb-small-caps text-secondary" no-margin>Social</p>
      </div>
      <a href="{{ messageData.urlFacebook }}" *ngIf="messageData.urlFacebook">
        <ion-icon
          name="logo-facebook"
          no-margin
          class="icon-mono icon-sm"
        ></ion-icon>
      </a>
      <a href="{{ messageData.urlLinkedIn }}" *ngIf="messageData.urlLinkedIn">
        <ion-icon
          name="logo-linkedin"
          no-margin
          class="icon-mono icon-sm"
        ></ion-icon>
      </a>
      <a href="{{ messageData.urlTwitter }}" *ngIf="messageData.urlTwitter">
        <ion-icon
          name="logo-twitter"
          no-margin
          class="icon-mono icon-sm"
        ></ion-icon>
      </a>
    </div>

    <!-- <iframe *ngIf="messageData.urlYoutube" width="100%" height="315" src="{{youtubeUrl}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>         -->

    <div padding-horizontal class="mb-4" *ngIf="messageData.urlQRCode">
      <div class="mb-2">
        <p class="hb-small-caps text-secondary" no-margin>Scannable Coupon</p>
      </div>
      <img src="{{ messageData.urlQRCode }}" />
    </div>

    <!-- why to closes @Tom? i removed one (hunter) -->
    <!-- <div padding>
      <ion-button fill="outline" (click)="close()"
        >Close</ion-button
      >
    </div> -->

    <!-- <div class="ba-mt3 ba-mx3 ba-mb3">
          <button class="ba-btn" ion-button outline (click)="showMsg()" color="dark-grey">
              Show Message</button>
      </div> -->
  </ng-container>
</ion-content>
