@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root[mode="ios"] .montserrat,
:root[mode="md"] .montserrat {
  --ion-font-family: "Montserrat" !important;
  font-family: "Montserrat" !important;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: normal;
  src: url("./assets/fonts/Montserrat-Italic.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  src: url("./assets/fonts/Montserrat-MediumItalic.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  src: url("./assets/fonts/Montserrat-BoldItalic.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: url("./assets/fonts/Montserrat-Black.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 900;
  src: url("./assets/fonts/Montserrat-BlackItalic.ttf");
}

h1 {
  font-size: 2em;
  color: var(--ion-text-primary);
  font-family: "Montserrat" !important;
  font-weight: 700;
}

h2 {
  font-size: 1.2em;
  color: var(--ion-text-primary);
  font-family: "Montserrat" !important;
  font-weight: 500;
}

h3 {
  font-size: 0.9em;
  color: var(--ion-text-secondary);
  font-family: "Montserrat" !important;
  font-weight: normal;
}

h4 {
  font-size: 0.8em;
  color: var(--ion-text-secondary);
  font-family: "Montserrat" !important;
  font-weight: normal;
}

ion-title {
  color: var(--ion-text-primary);
  font-family: "Montserrat" !important;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
}

// Helpers //
.w100 {
  width: 100%;
}

.bold,
.fw500 {
  font-weight: 500 !important;
}

.fw700 {
  font-weight: 700 !important;
}

.text08 {
  font-size: 0.8rem;
}

.text1 {
  font-size: 1rem !important;
}

.text12 {
  font-size: 1.2rem;
}

.text15 {
  font-size: 1.5rem;
}

.text20 {
  font-size: 2rem;
}

.text25 {
  font-size: 2.5rem;
}

.text-i {
  color: var(--ion-inverse-text-primary);
}

.text-i2 {
  color: var(--ion-inverse-text-secondary);
}

//small caps by hunter.. didnt want to override another class
.hb-small-caps {
  font-size: 10px;
  line-height: 13px;
  font-weight: 600;
  text-transform: uppercase;
  vertical-align: baseline;
  letter-spacing: 0.5px;
}

.text-primary {
  color: var(--ion-text-primary);
}

.text-secondary {
  color: var(--ion-text-secondary);
}

.text-disabled {
  color: var(--ion-text-disabled);
}

.text-dark {
  color: var(--ion-color-dark);
}

.text-danger {
  color: var(--ion-color-danger);
}

ion-content {
  --background: var(--ion-color-light-tint);
}

ion-card {
  --background: var(--ion-color-primary-contrast);
  margin: auto;
  position: relative;
  text-align: center;

  ion-card-header {
    text-align: center;
    font-size: 2em;
    width: 100%;
    font-weight: normal;
    color: var(--ion-color-primary);
  }
}

ion-icon {
  margin: 0.3em;
  width: 2em;
  height: 2em;
}

ion-back-button {
  ion-icon {
    margin: 0.3em;
    width: 1.5em;
    height: 1.5em;
  }
}

ion-button {
  padding: 0 15.75px !important;
  min-height: 30px;
  border-radius: 4px;
  border-width: 1px !important;
  text-transform: none;
  font-weight: 600;
}

ion-header {
  --background: linear-gradient(
    to top right,
    var(--ion-color-primary) 0%,
    var(--ion-color-primary-shade) 100%
  );
  color: var(--ion-color-primary-contrast);
}

ion-toolbar {
  // --background: linear-gradient(
  //   to top right,
  //   var(--ion-color-primary) 0%,
  //   var(--ion-color-primary-shade) 100%
  // );
  background: var(--ion-color-light) !important;
  color: var(--ion-text-primary);
}

ion-content {
  height: 100vh;
}

ion-label {
  color: var(--ion-color-primary);
  margin: 0.5em;
}

ion-text {
  font-size: 1em;
  font-weight: normal;
  color: var(--ion-color-secondary);
  font-family: "Montserrat" !important;
  font-style: normal;
  text-align: start;
}

.input {
  background: var(--ion-color-light-tint);
  border: 1px solid var(--ion-color-light-tint);
  border-radius: 4px;
  font-size: 0.9em !important;
}

.link {
  color: var(--ion-color-primary) !important;
  cursor: pointer;
}

@media screen and (min-width: 767px) {
  ion-list {
    width: 600px;
    margin: auto;

    .scroll-content {
      display: table !important;
      width: 100% !important;
      height: 100% !important;
    }
    .scroll {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }
}
